header .pure-menu.pure-menu-open{
	background-color:#3b5998;
	border-bottom: 1px solid #133783;
	color:#fff;
}

header .pure-menu.pure-menu-open .pure-menu-heading {
	color:#fff;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    padding:0.5em;
    text-align:center;
}

body {
    margin-bottom: 5em;
}

